.trdark {
BACKGROUND-COLOR:#B0BF9D;
}
.trlight {
BACKGROUND-COLOR:#F2F2F2;
}
.trmid {
BACKGROUND-COLOR:#EFEFDF;
}
.tableWithBorder {
Border:1px #999999 solid;
}
.text
{
FONT-SIZE: 9pt;
COLOR: black;

}
.textbolddark
{
FONT-SIZE: 9pt;
COLOR: black;

FONT-WEIGHT:bolder;
}
.textboldlight
{
FONT-SIZE: 9pt;
COLOR: white;

FONT-WEIGHT:bolder;
}
A:hover
{
COLOR:#FFC20F;
}
A
{
FONT-SIZE: 9pt;
COLOR: black;


TEXT-DECORATION:none;
}
.select
{
FONT-SIZE: 9pt;
COLOR: black;


TEXT-DECORATION:none;
BACKGROUND-COLOR:#F2F2F2;
}
.button
{
FONT-SIZE: 9pt;
HEIGHT:20px;
COLOR: black;


TEXT-DECORATION:none;
BACKGROUND-COLOR:#F2F2F2;
}

/*spinner, loading*/

div.spinner
{height:400px;}

img.spinner{padding-top:130px;padding-left:40px;}

/*title for chart groups*/

.chart_group_title_bar{
    font-size: smaller; font-weight: bold; font-family: verdana;padding-left:25px;
}